img {
    width: 200px;
}

body {
    text-align: center;
    font-family: 'Times New Roman';
    background-color:snow;
    color:darkgoldenrod;
}

body {
    font-size: large;
    font-family: Impact;
}